# 元组和记录

In [4]:
lax_coordinates=(33.9425,-118.408056)
city,year,pop,chg,area=('Tokyo',2003,32450,0.66,8014)
traveler_ids=[('USA','31195855'),('BRA','CE342567'),('ESP','XDA205856')]

In [6]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [8]:
for country,_ in traveler_ids:
    print(country)

USA
BRA
ESP

# 元组拆包

In [12]:
#元组拆包就是平行赋值
lax_coordinates=(33.9425,-118.408056)
latitude,longitude=lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [16]:
# 交换两个元素的值
a=1
b=2
a,b=b,a

In [18]:
# 使用*运算符将一个可迭代对象拆分开函数的参数
divmod(20,8)

(2, 4)

In [20]:
divmod((20,8))

TypeError: divmod expected 2 arguments, got 1

In [23]:
t=(20,8)
# divmod(*(20,8))
divmod(*t)

(2, 4)

In [25]:
quotient,remainder=divmod(*t)
quotient,remainder

(2, 4)

In [40]:
import os
_,filename=os.path.split('../files/access.log')#返回以路径和最后一个文件名组成的元组 (path, last_part)
path
filename

'access.log'

在进行拆包的时候，我们不总是对元组里所有的数据都感兴趣，_ 占位符能帮助处理这种情况，上面这段代码也展示了它的用法

## 使用 *  处理剩下的元素

In [44]:
a,b,*rest=range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [57]:
a,b,*rest=range(3)
a,b,rest

(0, 1, [2])

In [58]:
a,b,*rest=range(2)
a,b,rest

(0, 1, [])

在平行赋值中，* 前缀只能用在一个变量名前面，但是这个变量可以出现在赋值表达式的任意位置

In [60]:
a,*body,c,d=range(5)
a,body,c,d

(0, [1, 2], 3, 4)

In [62]:
*head,b,c,d=range(5)
head,b,c,d

([0, 1], 2, 3, 4)

## 嵌套元组拆包

In [73]:
metro_areas=[
    ('Tokyo','JP',36.933,(35.689722,139.691667)),
    ('Delhi NCR','IN',21.935,(28.613889,77.208889)),
    ('Mexico City','MX',20.142,(19.43333,-99.133333)),
    ('New York-Newwark','US',20.104,(40.808611,-71.020386)),
    ('Sao Paulo','BR',19.649,(-23.547778,-46.635833)),
]
print('{:16} | {:^9}|{:^9}'.format('','lat.','long.'))
fmt='{:16} | {:9.4f} | {:9.4f}'
for name,cc,pop,(latitude,longitude) in metro_areas:
    if longitude<=0:
        print(fmt.format(name,latitude,longitude))

                 |   lat.   |  long.
Mexico City      |   19.4333 |  -99.1333
New York-Newwark |   40.8086 |  -71.0204
Sao Paulo        |  -23.5478 |  -46.6358

# 具名元组

In [75]:
from collections import namedtuple
City=namedtuple('City','name country population coordinates')
tokyo=City('Tokyo','JP',36.933,(35.689722,139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [77]:
tokyo.population

36.933

In [79]:
tokyo.coordinates

(35.689722, 139.691667)

In [81]:
tokyo[1]

'JP'

除了从普通元组那里继承来的属性之外，具名元组还有一些自己专有的属性。示例 2-10 中就展示了几个最有用的：_fields 类属性、类方法_make(iterable) 和实例方法 _asdict()。

In [90]:
City._fields#_fields 属性是一个包含这个类所有字段名称的元组。

('name', 'country', 'population', 'coordinates')

In [89]:
LatLong=namedtuple('LatLong','lat long')
delhi_data=('Delhi NCR','IN',21.935,LatLong(28.613889,77.20))
delhi=City._make(delhi_data)#用 _make() 通过接受一个可迭代对象来生成这个类的一个实例，它的作用跟 City(*delhi_data) 是一样的
delhi._asdict()# _asdict() 把具名元组以 collections.OrderedDict 的形式返

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.2))])

In [88]:
for key,value in delhi._asdict().items():
    print(key+':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.2)

# 切片

- 当只有最后一个位置信息时，我们也可以快速看出切片和区间里有几个元素：range(3) 和 my_list[:3] 都返回 3 个元素。
- 当起止位置信息都可见时，我们可以快速计算出切片和区间的长度，用后一个数减去第一个下标（stop - start）即可。
- 这样做也让我们可以利用任意一个下标来把序列分割成不重叠的两部分，只要写成 my_list[:x] 和 my_list[x:] 就可以了

In [2]:
l=[10,20,30,40,50,60]
l[:2]#在下标2的地方分割

[10, 20]

In [4]:
l[2:]

[30, 40, 50, 60]

In [5]:
l[:3]#在下标3的地方分割

[10, 20, 30]

## 对对象进行切片

一个众所周知的秘密是，我们还可以用 s[a:b:c] 的形式对 s 在 a 和b 之间以 c 为间隔取值。c 的值还可以为负，负值意味着反向取值

In [6]:
s='bicycle'
s[::3]

'bye'

In [7]:
s[::-1]

'elcycib'

In [8]:
s[::-2]

'eccb'

## 给切片赋值

In [17]:
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
l[2:5]=[20,30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [19]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [21]:
l[3::2]=[11,22]
l

[0, 1, 20, 11, 5, 22, 9]

In [22]:
l[2:5]=100

TypeError: can only assign an iterable

In [23]:
l[2:5]=[100]
l

[0, 1, 100, 22, 9]

# 对序列使用+和*

In [24]:
l=[1,2,3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
5*'abc'

'abcabcabcabcabc'

## 建立有列表构成的列表

In [28]:
board=[['_']*3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [30]:
board[1][2]='X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [32]:
# 下面看看这种方法
weired_board=[['_']*3]*3
weired_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [33]:
weired_board[1][2]='X'
weired_board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

- 外面的列表其实包含 3 个指向同一个列表的引用
- 一旦我们试图标记第 1 行第 2 列的元素，就立马暴露了列表内的 3个引用指向同一个对象的事实。

In [35]:
# 同样的事情
row=['_']*3
board=[]
for i in range(3):
    board.append(row)#每次迭代中都新建了一个列表，作为新的一行（row）追加到游戏板（board）。
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [37]:
board[2][0]='X'
board

[['X', '_', '_'], ['X', '_', '_'], ['X', '_', '_']]

In [8]:
l=[1,2,3]
id(l)

2586106251464

In [9]:
l*=2
l

[1, 2, 3, 1, 2, 3]

In [11]:
id(l)#运用增量乘法后，列表的 ID 没变，新元素追加到列表上。

2586106251464

In [23]:
t=(1,2,3)
id(t)

2586105363696

In [24]:
t*=2
t

(1, 2, 3, 1, 2, 3)

In [27]:
id(t)#运用增量乘法后，新的元组被创建。

2586105469544